init.el~
init_bak.el
config.el
.emacs.desktop
.emacs.desktop.lock

*.elc
*.html
*.cache

recentf
recentf~
recentf~*
network-security.data*
projectile-bookmarks.eld*
amx-items

.saves/

elpa/
distel/
auto-save-list/
transient/
url/
